{{template "base" .}}

{{define "title"}}Домашняя страницы{{end}}

{{define "main"}}


<p>&nbsp;</p>

<nav>
    <a href='/check_net/Almata'>Алмата</a>
    <a href='/check_net/Astana'>Астана</a>
    <a href='/check_net/DGP'>ДГП</a>
    <a href='/check_net/Krym'>Крым</a>
    <a href='/check_net/Krasnodar'>Краснодар</a>
    <a href='/check_net/Moscow'>Москва</a>
    <a href='/check_net/Piter'>Питер</a>
    <a href='/check_net/Rostov'>Ростов</a>
    <a href='/check_net/Sochi'>Сочи</a>
    <a href='/check_net/Yaroslavl'>Яро</a>
    <a href='/check_net/Inet'>Инет</a>
    <a href='/ip'>Check-IP</a>
</nav>





 {{end}}


