{{template "base" .}}

{{define "title"}}Домашняя страницы{{end}}

{{define "main"}}
<nav>
    <a href='/Almata'>Алмата</a>
    <a href='/Astana'>Астана</a>
    <a href='/DGP'>ДГП</a>
    <a href='/Krym'>Крым</a>
    <a href='/Krasnodar'>Краснодар</a>
    <a href='/Moscow'>Москва</a>
    <a href='Check/Rostov'>Ростов</a>
    <a href='/Sochi_Toros'>Сочи</a>
    <a href='/Inet'>Интернет</a>
    <a href='Check/All'>Все</a>
    <a href='Check/ip'>Проверяемые IP</a>
</nav>


<p>&nbsp;</p>
<h1 style="text-align: left;"><span style="color: #339966;"><strong>Офис Ростова:</strong></span></h1>
<p>&nbsp;</p>



<a href="http://192.168.221.1/" class="a-btn-3">
    <span class="a-btn-3-text">Офис</span>
    <span class="a-btn-3-icon-right"><span ></span></span>

    <a href="http://192.168.222.1/" class="a-btn-3">
        <span class="a-btn-3-text">Сервер 30.100</span>
        <span class="a-btn-3-icon-right"><span></span></span>



                </a>

                <p>&nbsp;</p>

                <h1 style="text-align: left;"><span style="color: #339966;"><strong>Склад Ростова:</strong></span></h1>
                <p>&nbsp;</p>

                <a href="#" class="a-btn-3">
                    <span class="a-btn-3-text">Склад</span>
                    <span class="a-btn-3-icon-right"><span></span></span>

                    <a href="#" class="a-btn-3">
                        <span class="a-btn-3-text">Склад офис</span>
                        <span class="a-btn-3-icon-right"><span></span></span>

                </a>




                {{end}}


