{{template "base" .}}
 
{{define "title"}}Домашняя страницы{{end}}
 
{{define "main"}}


<p>&nbsp;</p>
<h1 style="text-align: left;"><span style="color: #339966;"><strong>Офис Алмата:</strong></span></h1>

<p>&nbsp;</p>



<a href="app://kim" class="a-btn-3">
<span class="a-btn-3-text">Ким PC</span>
<span class="a-btn-3-icon-right"><span ></span></span>

<a href="app://zatinshchikov" class="a-btn-3">
<span class="a-btn-3-text">Затинщиков</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://danilyan" class="a-btn-3">
<span class="a-btn-3-text">Данильян</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://abdraimova" class="a-btn-3">
<span class="a-btn-3-text">Абдраимова Suse</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://malorossiyanova" class="a-btn-3">
<span class="a-btn-3-text">Малороссиянова</span>
<span class="a-btn-3-icon-right"><span></span></span>

</a>

<p>&nbsp;</p>


<h1 style="text-align: left;"><span style="color: #339966;"><strong>Офис Астана:</strong></span></h1>
<p>&nbsp;</p>

<a href="app://rubtsova-o" class="a-btn-3">
<span class="a-btn-3-text">Рубцова</span>
<span class="a-btn-3-icon-right"><span ></span></span>

<a href="app://kuscenko" class="a-btn-3">
<span class="a-btn-3-text">Кущенко</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://stischenko" class="a-btn-3">
<span class="a-btn-3-text">Стишенко</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://akhmetov" class="a-btn-3">
<span class="a-btn-3-text">Ахметов</span>
<span class="a-btn-3-icon-right"><span></span></span>


</a>
<p>&nbsp;</p>


<h1 style="text-align: left;"><span style="color: #339966;"><strong>Офис Украина:</strong></span></h1>
<p>&nbsp;</p>

<a href="app://lubiviy" class="a-btn-3">
<span class="a-btn-3-text">Любивый</span>
<span class="a-btn-3-icon-right"><span ></span></span>

<a href="app://padalka" class="a-btn-3">
<span class="a-btn-3-text">Падалка</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://pogonisheva" class="a-btn-3">
<span class="a-btn-3-text">Погонышева</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://romanenko" class="a-btn-3">
<span class="a-btn-3-text">Романенко</span>
<span class="a-btn-3-icon-right"><span></span></span>

<a href="app://rakova" class="a-btn-3">
<span class="a-btn-3-text">Ракова</span>
<span class="a-btn-3-icon-right"><span></span></span>


</a>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h1 style="text-align: left;"><span style="color: #339966;"><strong>Инструкция для настройки KRDC:</strong></span></h1>

<a href="smb://10.101.7.7/buffer/333333/Linux/Тестовый полигон/manual_krdc/" class="a-btn-3">
<span class="a-btn-3-text">Инструкция</span>
<span class="a-btn-3-icon-right"><span ></span></span>
</a>

{{end}}


