{{template "base" .}}

{{define "title"}}Домашняя страницы{{end}}

{{define "main"}}

<h1 style="text-align: center;"><span style="color: #2a44ec;"><strong>Внутренние адреса:</strong></span></h1>

<h3 style="text-align: left;"><span style="color: #339966;"><strong>Роутеры складов:</strong></span></h3>

<a href="http://192.168.221.1/" class="a-btn-3">
    <span class="a-btn-3-text">РНД склад офис</span>
    <span class="a-btn-3-icon-right"><span ></span></span>

    <a href="http://192.168.222.1/" class="a-btn-3">
        <span class="a-btn-3-text">РНД склад</span>
        <span class="a-btn-3-icon-right"><span></span></span>

        <a href="http://192.168.220.1/" class="a-btn-3">
            <span class="a-btn-3-text">Краснодар</span>
            <span class="a-btn-3-icon-right"><span></span></span>

            <a href="http://192.168.230.1/" class="a-btn-3">
                <span class="a-btn-3-text">Крым</span>
                <span class="a-btn-3-icon-right"><span></span></span>

                <a href="http://192.168.98.1/" class="a-btn-3">
                    <span class="a-btn-3-text">Питер</span>
                    <span class="a-btn-3-icon-right"><span></span></span>

                 <a href="http://192.168.201.1/" class="a-btn-3">
                    <span class="a-btn-3-text">Астана</span>
                    <span class="a-btn-3-icon-right"><span></span></span>

                    <a href="http://192.168.21.1/" class="a-btn-3">
                        <span class="a-btn-3-text">Сочи</span>
                        <span class="a-btn-3-icon-right"><span></span></span>


                    </a>
                <p>&nbsp;</p>
                <h1 style="text-align: center;"><span style="color: #2a44ec;"><strong>Внешние адреса:</strong></span></h1>



                <h3 style="text-align: left;"><span style="color: #339966;"><strong>Роутеры складов:</strong></span></h3>

                <a href="http://5.180.240.146/" class="a-btn-3">
                    <span class="a-btn-3-text">РНД склад офис</span>
                    <span class="a-btn-3-icon-right"><span ></span></span>

                    <a href="http://5.180.240.142/" class="a-btn-3">
                        <span class="a-btn-3-text">РНД склад</span>
                        <span class="a-btn-3-icon-right"><span></span></span>

                        <a href="http://5.183.180.14/" class="a-btn-3">
                            <span class="a-btn-3-text">Краснодар</span>
                            <span class="a-btn-3-icon-right"><span></span></span>

                            <a href="http://194.187.148.159/" class="a-btn-3">
                                <span class="a-btn-3-text">Крым</span>
                                <span class="a-btn-3-icon-right"><span></span></span>

                                <a href="http://37.143.26.106/" class="a-btn-3">
                                    <span class="a-btn-3-text">Питер</span>
                                    <span class="a-btn-3-icon-right"><span></span></span>

                                    <a href="http://109.235.188.154/" class="a-btn-3">
                                        <span class="a-btn-3-text">Сочи</span>
                                        <span class="a-btn-3-icon-right"><span></span></span>


                                    </a>


                {{end}}


