
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>New IP</title>
</head>

<body>

</div>
</ul><div id="tabs-1"><br><table class="curved-vt-2" width=1600></div>

 <td colspan=1 class="table-shapka" width=90%>Добавление IP</td>
 <td colspan=13 class="table-mcenter1"><img src='/static/img/logo.png' width="30"></td>
</table><br>

<table align=center class="curved-vt-2" width=60%>
<form method="POST"/>
<label>Office</label><br>
<input type="text" name="office" /><br><br>
<label>IP</label><br>
<input type="text" name="ip" /><br><br>
<label>City</label><br>
<input type="text" name="city" /><br><br>
<label>Device</label><br>
<input type="text" name="device" /><br><br>

 </div>
 </td>
 </tr></table><p><table align=center class="curved-vt-2" width=800>



<p><a width="50%" class="bot1" href="/ip" >Back</a>
 <button  value='Edit' >Add</button></p>
 </td>
</table>
</body>

</html>
